/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3, h4 {
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.25rem;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Form Styles (index.html) */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

form input[type="file"] {
    margin-bottom: 20px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background-color: #0056b3;
}

/* Results Page (results.html) */
.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.results-container img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 250px; /* Adjust as needed */
    border-radius: 8px;
    object-fit: cover;
}

.results-container h4 {
    margin-bottom: 15px;
    text-align: center;
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.recommendations img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.recommendations img:hover {
    transform: scale(1.1);
}

.uploaded-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 3; /* Ensures the uploaded image takes the entire row */
}

.recommendations-container {
    grid-column: span 3; /* Ensures the recommendations take the entire row */
}

